// specific colors

// black and shades
$black: #444;
$black_base: #000;

// gray
$gray: #ccc;
$gray_light: #eee;

// blue and shades
$blue: #64ADFF;
$blue_dark: #5DA8FF;

// green
$green: rgb(96, 151, 42);

// white and shades
$white: #fff;
$white_dark: #f4f4f4; // darker white